.dimension-container {
    background-image: url("https://images.unsplash.com/photo-1511903979581-3f1d3afb4372?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index:2;
    display: flex;
    flex-direction: column;
}


h2 {
    align-self: center;
    margin-top: 100px;
    font-size: 40px;
    color:white;
    z-index: 3;
}



.dimension-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity:0.7;
}

.dimension {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 3;
}

.dimension .template1 {
    height: 108px;
    width: 108px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dimension .template2 {
    height: 108px;
    width: 192px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dimension .template3 {
    height: 192px;
    width: 108px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dimension .template4 {
    height: 108px;
    width: 135px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}